<div class="container" style="margin-top: 70px;">

  <div class="row">

    <div class="col-sm-8 offset-sm-2">

      <div>
        <form>
          <div class="form-group">
            <label for="name">Flight Name</label>
            <input [(ngModel)]="flight.name" type="text" name="name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter flight name">
            <small id="nameHelp" class="form-text text-muted">Enter your flight name</small>
            
            <label for="name">Flight Number</label>
            <input [(ngModel)]="flight.number" type="text" name="number" class="form-control" id="name" aria-describedby="numberHelp" placeholder="Enter flight number">
            <small id="numberHelp" class="form-text text-muted">Enter your flight number</small>
           
            <label for="email">Passenger Capacity</label>
            <input [(ngModel)]="flight.email" type="number" name="capacity" class="form-control" id="capacity" aria-describedby="capacityHelp"
              placeholder="Enter passenger capacity">
            <small id="capacityHelp" class="form-text text-muted">Enter passenger capacity</small>

            <label for="description">Flight Description</label>
            <textarea [(ngModel)]="flight.description" name="description" class="form-control" id="description" aria-describedby="descHelp">
                      </textarea>
            <small id="descHelp" class="form-text text-muted">Enter your flight description</small>

          </div>
        </form>
        <button class="btn btn-primary" (click)="createFlight()">Create flight</button>
      </div>
    </div>
  </div>
</div>
