<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT article ANY>
<!ATTLIST article id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT flights ANY>
<!ATTLIST flights id ID #REQUIRED>
<!ELEMENT flight ANY>
<!ATTLIST flight id ID #REQUIRED>
]>
<root id="-1">
  <article id="1054" key="05499971-5925-4109-82c9-45ef2f91a589" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-04-14T12:16:49" updateDate="2019-04-16T15:01:47" nodeName="Home" urlName="home" path="-1,1054" isDoc="" nodeType="1052" creatorName="Tiju Abraham" writerName="Tiju Abraham" writerID="0" template="1051" nodeTypeAlias="article" isPublished="true">
    <content><![CDATA[<p>Welcome to Century Airlines!</p>]]></content>
    <title><![CDATA[Century Airline]]></title>
    <login id="1059" key="bd3ec46b-b951-4315-b5a1-68cf5fbe6704" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2019-04-14T15:58:55" updateDate="2019-04-14T15:58:55" nodeName="Login" urlName="login" path="-1,1054,1059" isDoc="" nodeType="1058" creatorName="Tiju Abraham" writerName="Tiju Abraham" writerID="0" template="1057" nodeTypeAlias="login" isPublished="true">
      <title><![CDATA[Login to Century Airlines]]></title>
    </login>
  </article>
  <flights id="1073" key="0456729d-bd10-4ef0-8a7b-d188aaeb7b21" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2019-04-14T18:05:58" updateDate="2019-04-14T18:05:58" nodeName="Flights" urlName="flights" path="-1,1073" isDoc="" nodeType="1067" creatorName="Tiju Abraham" writerName="Tiju Abraham" writerID="0" template="0" nodeTypeAlias="flights" isPublished="true">
    <flight id="1074" key="fca0001d-6273-41fa-be1a-cdf0cc56fa8e" parentID="1073" level="2" creatorID="0" sortOrder="0" createDate="2019-04-14T18:07:35" updateDate="2019-04-14T18:07:35" nodeName="Singapore Airlines" urlName="singapore-airlines" path="-1,1073,1074" isDoc="" nodeType="1072" creatorName="Tiju Abraham" writerName="Tiju Abraham" writerID="0" template="0" nodeTypeAlias="flight" isPublished="true">
      <startTime>2019-04-15T18:07:50</startTime>
      <departureCity><![CDATA[MEL]]></departureCity>
      <endTime>2019-04-15T18:07:00</endTime>
      <notes><![CDATA[Flight on time]]></notes>
      <passengerCapacity><![CDATA[220]]></passengerCapacity>
      <arrivalCity><![CDATA[SNG]]></arrivalCity>
      <flightNumber><![CDATA[SQ217]]></flightNumber>
    </flight>
    <flight id="1075" key="25541c92-9554-4266-afd6-5e715fe69d9b" parentID="1073" level="2" creatorID="0" sortOrder="1" createDate="2019-04-14T18:08:43" updateDate="2019-04-16T12:15:33" nodeName="Emirates" urlName="emirates" path="-1,1073,1075" isDoc="" nodeType="1072" creatorName="Tiju Abraham" writerName="Tiju Abraham" writerID="0" template="0" nodeTypeAlias="flight" isPublished="true">
      <startTime>2019-04-26T18:08:22</startTime>
      <departureCity><![CDATA[SYD]]></departureCity>
      <endTime>2019-04-19T18:08:26</endTime>
      <notes><![CDATA[Welcome to Emirates]]></notes>
      <passengerCapacity><![CDATA[237]]></passengerCapacity>
      <arrivalCity><![CDATA[DXB]]></arrivalCity>
      <flightNumber><![CDATA[EK307]]></flightNumber>
    </flight>
  </flights>
</root>