<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT booking ANY>
<!ATTLIST booking id ID #REQUIRED>
<!ELEMENT bookings ANY>
<!ATTLIST bookings id ID #REQUIRED>
<!ELEMENT userPortal ANY>
<!ATTLIST userPortal id ID #REQUIRED>
<!ELEMENT article ANY>
<!ATTLIST article id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT flights ANY>
<!ATTLIST flights id ID #REQUIRED>
<!ELEMENT flight ANY>
<!ATTLIST flight id ID #REQUIRED>
]>
<root id="-1">
  <article id="1054" key="05499971-5925-4109-82c9-45ef2f91a589" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-04-14T12:16:49" updateDate="2019-04-16T20:46:56" nodeName="AdminPage" urlName="adminpage" path="-1,1054" isDoc="" nodeType="1052" creatorName="Tiju Abraham" writerName="Tiju Abraham" writerID="0" template="1051" nodeTypeAlias="article" isPublished="true">
    <content><![CDATA[<p>Welcome to Century Airlines!</p>]]></content>
    <title><![CDATA[Century Airline]]></title>
    <login id="1059" key="bd3ec46b-b951-4315-b5a1-68cf5fbe6704" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2019-04-14T15:58:55" updateDate="2019-04-14T15:58:55" nodeName="Login" urlName="login" path="-1,1054,1059" isDoc="" nodeType="1058" creatorName="Tiju Abraham" writerName="Tiju Abraham" writerID="0" template="1057" nodeTypeAlias="login" isPublished="true">
      <title><![CDATA[Login to Century Airlines]]></title>
    </login>
    <userPortal id="1079" key="176e5275-eaf3-459e-8c61-04fc0ad23fd2" parentID="1054" level="2" creatorID="0" sortOrder="1" createDate="2019-04-16T20:51:56" updateDate="2019-04-16T20:55:14" nodeName="User Portal" urlName="user-portal" path="-1,1054,1079" isDoc="" nodeType="1078" creatorName="Tiju Abraham" writerName="Tiju Abraham" writerID="0" template="1077" nodeTypeAlias="userPortal" isPublished="true">
      <title><![CDATA[Welcome to Century Airlines!]]></title>
    </userPortal>
  </article>
  <flights id="1073" key="0456729d-bd10-4ef0-8a7b-d188aaeb7b21" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2019-04-14T18:05:58" updateDate="2019-04-14T18:05:58" nodeName="Flights" urlName="flights" path="-1,1073" isDoc="" nodeType="1067" creatorName="Tiju Abraham" writerName="Tiju Abraham" writerID="0" template="0" nodeTypeAlias="flights" isPublished="true">
    <flight id="1074" key="fca0001d-6273-41fa-be1a-cdf0cc56fa8e" parentID="1073" level="2" creatorID="0" sortOrder="0" createDate="2019-04-14T18:07:35" updateDate="2019-04-14T18:07:35" nodeName="Singapore Airlines" urlName="singapore-airlines" path="-1,1073,1074" isDoc="" nodeType="1072" creatorName="Tiju Abraham" writerName="Tiju Abraham" writerID="0" template="0" nodeTypeAlias="flight" isPublished="true">
      <startTime>2019-04-15T18:07:50</startTime>
      <departureCity><![CDATA[MEL]]></departureCity>
      <endTime>2019-04-15T18:07:00</endTime>
      <notes><![CDATA[Flight on time]]></notes>
      <passengerCapacity><![CDATA[220]]></passengerCapacity>
      <arrivalCity><![CDATA[SNG]]></arrivalCity>
      <flightNumber><![CDATA[SQ217]]></flightNumber>
    </flight>
    <flight id="1075" key="25541c92-9554-4266-afd6-5e715fe69d9b" parentID="1073" level="2" creatorID="0" sortOrder="1" createDate="2019-04-14T18:08:43" updateDate="2019-04-14T18:08:43" nodeName="Emirates" urlName="emirates" path="-1,1073,1075" isDoc="" nodeType="1072" creatorName="Tiju Abraham" writerName="Tiju Abraham" writerID="0" template="0" nodeTypeAlias="flight" isPublished="true">
      <startTime>2019-04-26T18:08:22</startTime>
      <departureCity><![CDATA[SYD]]></departureCity>
      <endTime>2019-04-19T18:08:26</endTime>
      <passengerCapacity><![CDATA[237]]></passengerCapacity>
      <arrivalCity><![CDATA[DXB]]></arrivalCity>
      <flightNumber><![CDATA[EK307]]></flightNumber>
    </flight>
  </flights>
  <bookings id="1085" key="1da79444-e387-4f11-9fcf-972924ed5361" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2019-04-17T00:03:20" updateDate="2019-04-17T00:03:20" nodeName="Bookings" urlName="bookings" path="-1,1085" isDoc="" nodeType="1080" creatorName="Tiju Abraham" writerName="Tiju Abraham" writerID="0" template="0" nodeTypeAlias="bookings" isPublished="true">
    <booking id="1087" key="6b89ab85-e79a-4ae5-9ac3-80be66b173f9" parentID="1085" level="2" creatorID="0" sortOrder="0" createDate="2019-04-17T00:12:20" updateDate="2019-04-17T00:12:20" nodeName="Tiju" urlName="tiju" path="-1,1085,1087" isDoc="" nodeType="1084" creatorName="Tiju Abraham" writerName="Tiju Abraham" writerID="0" template="1083" nodeTypeAlias="booking" isPublished="true">
      <status><![CDATA[]]></status>
      <passengerCount><![CDATA[2]]></passengerCount>
      <flight><![CDATA[1074]]></flight>
      <lastName><![CDATA[Abraham]]></lastName>
      <firstName><![CDATA[Tiju]]></firstName>
    </booking>
    <booking id="1088" key="5b75389c-2514-44ef-8a65-a2a5128273a8" parentID="1085" level="2" creatorID="0" sortOrder="1" createDate="2019-04-17T01:43:14" updateDate="2019-04-17T01:43:14" nodeName="Test" urlName="test" path="-1,1085,1088" isDoc="" nodeType="1084" creatorName="Tiju Abraham" writerName="Tiju Abraham" writerID="0" template="1083" nodeTypeAlias="booking" isPublished="true">
      <status><![CDATA[]]></status>
      <passengerCount><![CDATA[4]]></passengerCount>
      <flight><![CDATA[1074]]></flight>
      <lastName><![CDATA[RACS]]></lastName>
      <firstName><![CDATA[Test]]></firstName>
    </booking>
  </bookings>
</root>