<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT article ANY>
<!ATTLIST article id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT flights ANY>
<!ATTLIST flights id ID #REQUIRED>
<!ELEMENT flight ANY>
<!ATTLIST flight id ID #REQUIRED>
<!ELEMENT userPortal ANY>
<!ATTLIST userPortal id ID #REQUIRED>
<!ELEMENT bookings ANY>
<!ATTLIST bookings id ID #REQUIRED>
<!ELEMENT booking ANY>
<!ATTLIST booking id ID #REQUIRED>
]>
<root id="-1">
  <article id="1054" key="05499971-5925-4109-82c9-45ef2f91a589" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-04-14T12:16:49" updateDate="2019-04-17T14:46:34" nodeName="AdminPage" urlName="adminpage" path="-1,1054" isDoc="" nodeType="1052" creatorName="Tiju Abraham" writerName="Tiju Abraham" writerID="0" template="1051" nodeTypeAlias="article" isPublished="true">
    <content><![CDATA[<p>Welcome to Century Airlines!</p>]]></content>
    <title><![CDATA[Century Airline]]></title>
    <login id="1059" key="bd3ec46b-b951-4315-b5a1-68cf5fbe6704" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2019-04-14T15:58:55" updateDate="2019-04-14T15:58:55" nodeName="Login" urlName="login" path="-1,1054,1059" isDoc="" nodeType="1058" creatorName="Tiju Abraham" writerName="Tiju Abraham" writerID="0" template="1057" nodeTypeAlias="login" isPublished="true">
      <title><![CDATA[Login to Century Airlines]]></title>
    </login>
    <userPortal id="1079" key="176e5275-eaf3-459e-8c61-04fc0ad23fd2" parentID="1054" level="2" creatorID="0" sortOrder="1" createDate="2019-04-16T20:51:56" updateDate="2019-04-17T14:47:20" nodeName="User Portal" urlName="user-portal" path="-1,1054,1079" isDoc="" nodeType="1078" creatorName="Tiju Abraham" writerName="Tiju Abraham" writerID="0" template="1077" nodeTypeAlias="userPortal" isPublished="true">
      <title><![CDATA[Welcome to Century Airlines!]]></title>
    </userPortal>
  </article>
  <flights id="1073" key="0456729d-bd10-4ef0-8a7b-d188aaeb7b21" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2019-04-14T18:05:58" updateDate="2019-04-14T18:05:58" nodeName="Flights" urlName="flights" path="-1,1073" isDoc="" nodeType="1067" creatorName="Tiju Abraham" writerName="Tiju Abraham" writerID="0" template="0" nodeTypeAlias="flights" isPublished="true">
    <flight id="1090" key="ff90b16d-37dd-48a5-8aec-8afa1641bca7" parentID="1073" level="2" creatorID="0" sortOrder="0" createDate="2019-04-17T17:03:01" updateDate="2019-04-17T17:03:01" nodeName="Emirates" urlName="emirates" path="-1,1073,1090" isDoc="" nodeType="1072" creatorName="Tiju Abraham" writerName="Tiju Abraham" writerID="0" template="0" nodeTypeAlias="flight" isPublished="true">
      <startTime>2019-04-11T17:02:23</startTime>
      <departureCity><![CDATA[COK]]></departureCity>
      <endTime>2019-04-19T17:02:31</endTime>
      <notes><![CDATA[Welcome Onboard]]></notes>
      <passengerCapacity><![CDATA[234]]></passengerCapacity>
      <arrivalCity><![CDATA[DXB]]></arrivalCity>
      <flightNumber><![CDATA[EK201]]></flightNumber>
    </flight>
    <flight id="1092" key="32b122ac-8a22-4994-82dc-cd18e1267350" parentID="1073" level="2" creatorID="0" sortOrder="1" createDate="2019-04-17T17:31:46" updateDate="2019-04-17T17:31:46" nodeName="Luftansa" urlName="luftansa" path="-1,1073,1092" isDoc="" nodeType="1072" creatorName="Tiju Abraham" writerName="Tiju Abraham" writerID="0" template="0" nodeTypeAlias="flight" isPublished="true">
      <departureCity><![CDATA[Dsa]]></departureCity>
      <arrivalCity><![CDATA[asa]]></arrivalCity>
      <flightNumber><![CDATA[23l]]></flightNumber>
    </flight>
  </flights>
  <bookings id="1085" key="1da79444-e387-4f11-9fcf-972924ed5361" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2019-04-17T00:03:20" updateDate="2019-04-17T00:03:20" nodeName="Bookings" urlName="bookings" path="-1,1085" isDoc="" nodeType="1080" creatorName="Tiju Abraham" writerName="Tiju Abraham" writerID="0" template="0" nodeTypeAlias="bookings" isPublished="true">
    <booking id="1087" key="6b89ab85-e79a-4ae5-9ac3-80be66b173f9" parentID="1085" level="2" creatorID="0" sortOrder="0" createDate="2019-04-17T00:12:20" updateDate="2019-04-17T00:12:20" nodeName="Tiju" urlName="tiju" path="-1,1085,1087" isDoc="" nodeType="1084" creatorName="Tiju Abraham" writerName="Tiju Abraham" writerID="0" template="1083" nodeTypeAlias="booking" isPublished="true">
      <status><![CDATA[]]></status>
      <passengerCount><![CDATA[2]]></passengerCount>
      <flight><![CDATA[1074]]></flight>
      <lastName><![CDATA[Abraham]]></lastName>
      <firstName><![CDATA[Tiju]]></firstName>
    </booking>
    <booking id="1088" key="5b75389c-2514-44ef-8a65-a2a5128273a8" parentID="1085" level="2" creatorID="0" sortOrder="1" createDate="2019-04-17T01:43:14" updateDate="2019-04-17T01:43:14" nodeName="Test" urlName="test" path="-1,1085,1088" isDoc="" nodeType="1084" creatorName="Tiju Abraham" writerName="Tiju Abraham" writerID="0" template="1083" nodeTypeAlias="booking" isPublished="true">
      <status><![CDATA[]]></status>
      <passengerCount><![CDATA[4]]></passengerCount>
      <flight><![CDATA[1074]]></flight>
      <lastName><![CDATA[RACS]]></lastName>
      <firstName><![CDATA[Test]]></firstName>
    </booking>
    <booking id="1089" key="52020669-107b-4172-8589-e27f9158fd24" parentID="1085" level="2" creatorID="0" sortOrder="2" createDate="2019-04-17T14:56:53" updateDate="2019-04-17T14:56:53" nodeName="Lucky" urlName="lucky" path="-1,1085,1089" isDoc="" nodeType="1084" creatorName="Tiju Abraham" writerName="Tiju Abraham" writerID="0" template="1083" nodeTypeAlias="booking" isPublished="true">
      <status><![CDATA[]]></status>
      <passengerCount><![CDATA[2]]></passengerCount>
      <flight><![CDATA[1074]]></flight>
      <lastName><![CDATA[Start]]></lastName>
      <firstName><![CDATA[Lucky]]></firstName>
    </booking>
  </bookings>
</root>