
    <h1>Dashboard</h1>
    <p class="lead">
      Welcome to Century Airlines booking system 
    </p>
    <a class="btn btn-lg btn-primary" href="" role="button">Source code</a>
    <hr>
    <p>You're logged in with Angular 7 & JWT!!</p>
    <p>Your role is: <strong>{{currentUser.role}}</strong>.</p>
    <p>This page can be accessed by all authenticated users.</p>
    <div>
        <p>Current user from secure api end point:</p>
        <ul>
            <li *ngIf="userFromApi">{{userFromApi.firstName}} {{userFromApi.lastName}}</li>
        </ul>
    </div>

    